apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: sltr-welcome-ingress
  namespace: sltr-fanny
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    kubernetes.io/ingress.class: "nginx"
spec:
  rules:
  - host: sltr-fanny.my.id
    http:
      paths:
      - path: /welcome
        pathType: Prefix
        backend:
          service:
            name: sltr-welcome-service
            port:
              number: 80
  tls:
  - hosts:
    - sltr-fanny.my.id
    secretName: welcome-tls